<div ng-app="articleApp">

  <div ng-controller="EditCtrl">
    <div class="spinner" ng-show="loading"></div>
    <div class="content-padded">
      <h1>Edit</h1>

      <form class="simple-form">
        Name: <input type="text" ng-model="article.name" /><br />
        Description: <input type="text" ng-model="article.description" /><br />

        <a class="topcoat-button" hm-tap="update(article)">Update</a>
        <a class="topcoat-button" hm-tap="close()">Cancel</a>
      </form>
    </div>

  </div>

</div>