<div ng-app="articleApp">

  <div ng-controller="IndexCtrl">
    <div class="spinner" ng-show="loading"></div>
    <div class="topcoat-list__container">

      <ul class="topcoat-list">
        <!-- order is reversed created timestamp -->
        <li class="topcoat-list__item" hm-tap="open(article.id)" ng-repeat="article in articles">
          <img ng-if="article.image" ng-src="{{article.image.url}}" />
          <h3 ng-bind-html="article.title"></h3>
        </li>
      </ul>

    </div>

  </div>

</div>