<div ng-app="articleApp">

  <div ng-controller="ShowCtrl">
    <div class="spinner" ng-show="loading"></div>
    <div class="content-padded">
      <h2 ng-bind="article.title"></h2>
      <section ng-bind-html="article.readableContent"></section>
    </div>

  </div>

</div>
