<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>Steroids App</title>

  <link rel="stylesheet" href="/vendor/topcoat/css/topcoat-mobile-light.css" />
  <link rel="stylesheet" href="/stylesheets/application.css" />
  <link rel="stylesheet" href="/stylesheets/<%= yield.controller %>.css" />

  <script src="/appgyver/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>


  <script src="/components/angular/angular.min.js"></script>
  <script src="/components/angular-route/angular-route.min.js"></script>
  <script src="/components/angular-sanitize/angular-sanitize.min.js"></script>

  <script src="/components/underscore/underscore-min.js"></script>
  <script src="/components/restangular/dist/restangular.min.js"></script>

  <script src="/vendor/hammerjs/hammer.min.js"></script>
  <script src="/vendor/angular-hammer/angular-hammer.js"></script>

  <script src="/others/helpers.js"></script>

  <script src="/models/models.js"></script>

  <script src="/controllers/<%= yield.controller %>.js"></script>
</head>
<body>


  <%= yield.view %>

</body>
</html>
